<div
    class="eep-select"
  {{did-insert this.didInsertHandler}}>
  <div class="eep-select__navigation">
    <div class="eep-nav{{if this.isSearchMode " eep-nav--search"}}">
      {{#each this.categories as |category|}}
          <EmojiPicker::NavItem
              @category={{category}}
              @isActive={{and (not this.isSearchMode) (eq category.name this.activeCategory)}}
              {{on "click" (fn this.navigate category.name)}}/>
      {{/each}}
    </div>
  </div>

  <EmojiPicker::Form
      placeholder={{this.texts.searchPlaceholder}}
      @value={{this._searchQuery}}
      {{on "change" this.triggerSearch}}/>

  <div class="eep-select__scroller">
    <div class="eep-select__sections{{if this.isSearchMode " is-active"}}">
      <div class="eep-select-section">
        <div class="eep-select-section__name">{{this.texts.searchResults}}:</div>
        <div class="eep-select-section__emoji">
          {{#if this._searchResults}}
            <div class="eep-symbols">
              {{#each this._searchResults as |emoji|}}
                  <EmojiPicker::Symbol
                      @emoji={{emoji}}
                    {{on "click" (fn this.selectEmoji emoji)}}/>
              {{/each}}
            </div>
          {{else}}
            <div class="eep-symbols eep-symbols--no-found">
              {{this.texts.noFound}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="eep-select__sections{{unless this.isSearchMode " is-active"}}">
      {{#if this.showRecent}}
        <EmojiPicker::Section
          @category={{this.recentEmoji}}
          @texts={{this.texts.categories}}>
          {{#each this.recentEmoji.emoji as |emoji|}}
            <EmojiPicker::Symbol @emoji={{emoji}} {{on "click" (fn this.selectEmoji emoji)}}/>
          {{/each}}
        </EmojiPicker::Section>
      {{/if}}

      {{!-Increasing UI performance-}}
      {{#if this.renderAfterInsert}}
        {{#each this.emojiByCategories as |category|}}
          <EmojiPicker::Section @category={{category}} @texts={{this.texts.categories}}>
            {{#each category.emoji as |emoji|}}
              <EmojiPicker::Symbol @emoji={{emoji}} {{on "click" (fn this.selectEmoji emoji)}}/>
            {{/each}}
          </EmojiPicker::Section>
        {{/each}}
      {{else}}
        <EmojiPicker::Section @category={{this.firstCategory}} @texts={{this.texts.categories}}>
          {{#each this.firstCategory.emoji as |emoji|}}
            <span class="eep-symbols__item eep-emoji-font">
              <span>{{emoji.char}}</span>
            </span>
          {{/each}}
        </EmojiPicker::Section>
      {{/if}}

    </div>
  </div>
</div>
