<div class="eep-select">
  <div class="eep-select__navigation">
    <div class="eep-nav{{if _isSearchMode ' eep-nav--search'}}">
      {{#each categories as |category index|}}
        {{emoji-picker/nav-item
            category=category
            isActive=(and (not _isSearchMode) (eq index _activeCategory))
            click=(action 'navigate' index)
        }}
      {{/each}}
    </div>
  </div>
  {{emoji-picker/form
      value=_searchQuery
      placeholder=texts.searchPlaceholder
  }}

  {{#emoji-picker/scroller}}
    <div class="eep-select__sections{{if _isSearchMode ' is-active'}}">
      <div class="eep-select-section">
        <div class="eep-select-section__name">{{texts.searchResults}}:</div>
        <div class="eep-select-section__emoji">
          {{#if _searchResults}}
            <div class="eep-symbols">
              {{#each _searchResults as |emoji|}}
                {{emoji-picker/symbol emoji=emoji click=(action 'selectEmoji' emoji)}}
              {{/each}}
            </div>
          {{else}}
            <div class="eep-symbols eep-symbols--no-found">
              {{texts.noFound}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="eep-select__sections{{unless _isSearchMode ' is-active'}}">
      {{#if showRecent}}
        {{#emoji-picker/section category=recentEmoji texts=texts.categories}}
          {{#each recentEmoji.emoji as |emoji|}}
            {{emoji-picker/symbol emoji=emoji click=(action 'selectEmoji' emoji)}}
          {{/each}}
        {{/emoji-picker/section}}
      {{/if}}
      {{#each emojiByCategories as |category|}}
        {{#emoji-picker/section category=category texts=texts.categories}}
          {{#each category.emoji as |emoji|}}
            {{emoji-picker/symbol emoji=emoji click=(action 'selectEmoji' emoji)}}
          {{/each}}
        {{/emoji-picker/section}}
      {{/each}}
    </div>
  {{/emoji-picker/scroller}}
</div>
