<div class="eep-select">
  <div class="eep-select__navigation">
    <div class="eep-nav{{if isSearchMode " eep-nav--search"}}">
      {{#each categories as |category|}}
        {{emoji-picker/nav-item
            category=category
            isActive=(and (not isSearchMode) (eq category.name activeCategory))
            click=(action "navigate" category.name)
        }}
      {{/each}}
    </div>
  </div>
  {{emoji-picker/form
      value=_searchQuery
      placeholder=texts.searchPlaceholder
      onChange=(action "triggerSearch")
  }}

  <div class="eep-select__scroller">
    <div class="eep-select__sections{{if isSearchMode " is-active"}}">
      <div class="eep-select-section">
        <div class="eep-select-section__name">{{texts.searchResults}}:</div>
        <div class="eep-select-section__emoji">
          {{#if _searchResults}}
            <div class="eep-symbols">
              {{#each _searchResults as |emoji|}}
                {{emoji-picker/symbol emoji=emoji click=(action "selectEmoji" emoji)}}
              {{/each}}
            </div>
          {{else}}
            <div class="eep-symbols eep-symbols--no-found">
              {{texts.noFound}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="eep-select__sections{{unless isSearchMode " is-active"}}">
      {{#if showRecent}}
        <div data-category="recent">
          {{#emoji-picker/section category=recentEmoji texts=texts.categories}}
            {{#each recentEmoji.emoji as |emoji|}}
              <a class="eep-symbols__item eep-emoji-font" {{action "selectEmoji" emoji}}>
                <span>{{emoji.char}}</span>
              </a>
            {{/each}}
          {{/emoji-picker/section}}
        </div>
      {{/if}}

      <div class="js-emoji-sections-wrap">
        {{#each emojiByCategories as |category|}}
          <div
              class="eep-select-section js-eep-select-section"
              data-category={{category.name}}>
            <div class="eep-select-section__name js-eep-select-section-name">
              {{or category.translate category.name}}
            </div>
            <div class="eep-select-section__emoji">
              <div class="eep-symbols">
                {{#each category.emoji as |emoji|}}
                  <a
                      class="eep-symbols__item eep-emoji-font"
                      {{action "selectEmoji" emoji}}>
                    <span>{{emoji.char}}</span>
                  </a>
                {{/each}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
