<div class="eep-select">
  <div class="eep-select__navigation">
    <div class="eep-nav{{if this.isSearchMode " eep-nav--search"}}">
      {{#each this.categories as |category|}}
          <EmojiPicker::NavItem
              @category={{category}}
              @isActive={{and (not this.isSearchMode) (eq category.name this.activeCategory)}}
              @click={{fn this.navigate category.name}}/>
      {{/each}}
    </div>
  </div>

  <EmojiPicker::Form
      @value={{this._searchQuery}}
      @placeholder={{@texts.searchPlaceholder}}
      @onChange={{fn this.triggerSearch}}
  />

  <div class="eep-select__scroller">
    <div class="eep-select__sections{{if this.isSearchMode " is-active"}}">
      <div class="eep-select-section">
        <div class="eep-select-section__name">{{@texts.searchResults}}:</div>
        <div class="eep-select-section__emoji">
          {{#if this._searchResults}}
            <div class="eep-symbols">
              {{#each this._searchResults as |emoji|}}
                  <EmojiPicker::Symbol
                      @emoji={{emoji}}
                      @click={{fn this.selectEmoji emoji}}/>
              {{/each}}
            </div>
          {{else}}
            <div class="eep-symbols eep-symbols--no-found">
              {{@texts.noFound}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="eep-select__sections{{unless this.isSearchMode " is-active"}}">
      {{#if this.showRecent}}
        <div data-category="recent">
          <EmojiPicker::Section
            @category={{this.recentEmoji}}
            @texts={{@texts.categories}}>
            {{#each this.recentEmoji.emoji as |emoji|}}
              <a class="eep-symbols__item eep-emoji-font" {{on "click" (fn this.selectEmoji emoji)}}>
                <span>{{emoji.char}}</span>
              </a>
            {{/each}}
          </EmojiPicker::Section>
        </div>
      {{/if}}

      <div class="js-emoji-sections-wrap">
        {{#each this.emojiByCategories as |category|}}
          <div
              class="eep-select-section js-eep-select-section"
              data-category={{category.name}}>
            <div class="eep-select-section__name js-eep-select-section-name">
              {{or category.translate category.name}}
            </div>
            <div class="eep-select-section__emoji">
              <div class="eep-symbols">
                {{#each category.emoji as |emoji|}}
                  <a
                      class="eep-symbols__item eep-emoji-font"
                      {{on "click" (fn this.selectEmoji emoji)}}>
                    <span>{{emoji.char}}</span>
                  </a>
                {{/each}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
