<div class="eep-select">
  <div class="eep-select__navigation">
    <div class="eep-nav{{if _isSearchMode ' eep-nav--search'}}">
      {{#each categories as |category index|}}
        {{emoji-picker/nav-item
            category=category
            isActive=(and (not _isSearchMode) (eq index _activeCategory))
            click=(action 'navigate' index)
        }}
      {{/each}}
    </div>
  </div>
  {{emoji-picker/form
      value=_searchQuery
      placeholder='search'
  }}

  {{#emoji-picker/scroller}}
    <div class="eep-select__categories{{if _isSearchMode ' is-active'}}">
      <div class="eep-select-section">
        <div class="eep-select-section__name">Search results:</div>
        <div class="eep-select-section__emoji">
          {{#if _searchResults}}
            <div class="eep-symbols">
              {{#each _searchResults as |emoji|}}
                {{emoji-picker/symbol emoji=emoji click=(action 'selectEmoji' emoji)}}
              {{/each}}
            </div>
          {{else}}
            nothing found
          {{/if}}
        </div>
      </div>
    </div>
    <div class="eep-select__categories{{unless _isSearchMode ' is-active'}}">
      {{#each emojiByCategories as |category index|}}
        <div class="eep-select-section js-eep-select-section">
          <div class="eep-select-section__name js-eep-select-section-name">{{category.name}}</div>
          <div class="eep-select-section__emoji">
            <div class="eep-symbols">
              {{#each category.emoji as |emoji|}}
                {{emoji-picker/symbol emoji=emoji click=(action 'selectEmoji' emoji)}}
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/emoji-picker/scroller}}
</div>
